<header>
    <ul>
        <li>
            <a href="/" class="<%= path === '/' ? 'active': ''  %>" >
                Posts
            </a>
        </li>
        <li>
            <a href="/admin/add-posts" class="<%= path === 'admin/add-posts' ? 'active': '' %>">
                Add Post
            </a>
        </li>
    </ul>
</header>