<main>
    <h1>My Posts</h1>
    {{#if pos}}
    {{#each pos}}
    <div class="card">
        <img src="http://www.nretnil.com/avatar/LawrenceEzekielAmos.png" alt="Avatar">
        <div class="container">
            <p>{{this.title}}</p>
        </div>
    </div>
    {{/each}}
    {{ else }}
    <h1>No Posts</h1>
    {{/if}}
</main>