*{
    margin:0;
    padding:0;
    text-align: center;
}
header{
    background: #cae01f;
    color: #fff;
    padding: 0;
    margin: 0;
}
ul{
    display: flex;
    list-style: none;
    margin-bottom: 18px;
}
ul li {
    margin: 5px;
    margin-left: 34px;
}
ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px
}
main{
    padding:15px; 
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    margin:auto;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
  }
  img{
    width: 40% !important;
  }
  .active{
    color: #00d;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  
  .container {
    padding: 2px 16px;
  }